*{
	margin: 0;
}

.main-nav{
	background-color: gray;
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-content: center;
		justify-content: space-between;	
}

.main-nav ul{
list-style-type: none;
display: flex;
}
 
 .main-nav ul li a{
 	display: flex;
 	text-decoration: none;
 	color: white;
 	padding: 5px;
 }