.photography{
	height: 455px;
	width: 300px;
	margin: 40px auto;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	position: relative;
	overflow: hidden;
}

.photography img{
	height: inherit;
	width: inherit;
	border-radius: inherit;
}


		.photography:hover img{
			transform: translateY(-30%);
			transition: all 2s;
		}

		#data{
			position: absolute;
			background:linear-gradient(39deg,cyan,pink);
			bottom: -40%;	
			transform: translateY(0%);		
		}

		.photography:hover #data{
			bottom: 0%;
			transition: all 1.5s;
		}